@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: 
        url(./Norse-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, "Times New Roman";
}

body {
    display: flex;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#images {
    display: flex;
    height: 100%;
    width: 42.5%;
    
    background-image: url(./images/richard-stachmann-pkt-3hdmYzU-unsplash.jpg);
    background-position: center;
    background-size: 1280px 1814px;
    background-repeat: no-repeat;

    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 100%;
    height: 15%;
    margin-block-start: 36%;

    background-color: black;
    color: #E5E7EB;
    font-size: 120px;
    font-family: "Norse Bold";
    opacity: 0.6;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    height: 80%;
    opacity: 1;
}

#images p,
#images a  {
    color: #E5E7EB;
}

#images p {
    margin-block-end: 12px;
}

#text {
    display: flex;
    width: 57.5%;

    flex-direction: column;
    background-color: #F9FAFB;
}

#description,
#form,
#submit {
    padding: 40px;
}

#form,
#submit {
    display: flex;
    flex-direction: column;
}

#description {
    margin-block-start: 15%;
    margin-inline-end: 8%;
}

#description p,
#form p {
    font-weight: 600;
    font-size: 28px;
}

#form {
    height: 30%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px lightgray;
    gap: 20px;
}

form{
    display: flex;
    padding-inline-end: 20%;

    flex: 1 1 0;
}

fieldset {
    border: 0;
    display: flex;

    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;

}

.form_entry {
    display: flex;
    width: 35%;

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    font-weight: 500;
    font-size: 14px;
}

input {
    height: 50%;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

#submit {
    height: 20%;
}

#fake_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 60px;

    font-weight: 700;
    font-size: 20px;

    color: #F9FAFB;
    background-color: #FDB91A;
    box-shadow: 0px 4px 10px lightgray;
    border-radius: 10px;
}

#real_button {
    width: 0;
    height: 0;
    opacity: 0;
}

#submit p{
    display: flex;
    flex: 1;
    align-items: center;
}