@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: 
        url(./Norse-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#images {
    display: flex;
    height: 100%;
    width: 42.5%;
    
    background-image: url(./images/richard-stachmann-pkt-3hdmYzU-unsplash.jpg);
    background-position: center;
    background-size: 1280px 1814px;
    background-repeat: no-repeat;

    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 100%;
    height: 15%;
    margin-block-start: 36%;

    background-color: black;
    color: #E5E7EB;
    font-size: 120px;
    font-family: "Norse Bold";
    opacity: 0.6;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    height: 80%;
    opacity: 1;
}

#images p,
#images a  {
    color: #E5E7EB;
}

#images p {
    margin-block-end: 12px;
}

#description,
#form,
#submit {
    padding: 40px;
    margin-block-start: 15%;
    margin-inline-end: 8%;
}

#text {
    display: flex;
    width: 57.5%;

    flex-direction: column;
}

#description p {
    font-family: sans-serif, "Roboto", "Times New Roman";
    font-weight: 600;
    font-size: 28px;
}
