* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#container {
    display: flex;
    margin: 12.5vh 5vw;
    height: 75vh;
    width: 90vw;
}

#images {
    display: flex;
    width: 45%;
    
    background-image: url(./images/richard-stachmann-pkt-3hdmYzU-unsplash.jpg);
    background-position: center;
    background-size: 640px 900px;
    background-repeat: no-repeat;
}

#text {
    display: flex;
    width: 55%;
}